{{ if .Values.serviceMonitor.enabled -}}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ .Values.appName }}-svc-monitor
  labels:
    monitoring.stack: novus
    app: {{ .Values.appName }}
spec:
  namespaceSelector:
    matchNames:
      - {{ .Release.Namespace }}
  selector:
    matchLabels:
      app: {{ .Values.appName }}
  endpoints:
    - port: metrics
      interval: 15s
      path: /metrics
{{- end }}