appName: "terraform-reconciler"
namespace: "terraform-reconciler"

openshift: false

image:
  repository: ghcr.io/lego/kube-tf-reconciler/kube-tf-reconciler
  tag: sha-ed4a43a
  pullPolicy: IfNotPresent

deployment:
  replicas: 1

imagePullSecrets: []
serviceMonitor:
  enabled: true
  labels: {}

# Environment variables for the reconciler container
env:
  KREC_NAMESPACE: "terraform-reconciler"
  KREC_WORKSPACE_PATH: "/tmp/workspaces"
